<form action="/login" method="post">
  <p>
    <label>
      Mail: 
      <input type="text" name="Mail">
    </label>
  </p>
  <p>
    <label>
      Password:
      <input type="password" name="password">
    </label>
  </p>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button type="submit">Login</button>
</form>