<div class="navbar">
  <img src= "/images/logo-sw.png" alt="SW logo"/>
  <a href="authentication/signup">Signup</a>
</div>


<div class="bodyForm">
  <div class="imgLogin">
    <img src="/images/assos-bleue.png" alt="asso"/>
    <img src="/images/restaurateurs.png" alt="resto"/>
 </div>
 
<form action="/auth/login" method="post"class="formSignup">
  <p>
    <label>
      username:
      <input type="text" name="username">
    </label>
  </p>
  <p>
    <label>
      Password:
      <input type="password" name="password">
    </label>
  </p>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button type="submit">Login</button>
</form>
</div>