<div class="navbar">
  <img src="/images/logo-sw.png" alt="SW logo" />
  <a href="/auth/login">Login</a>
</div>
<!-- Large image background with text -->
<header class="section1">
  <div class="intro">
    <h1>SAVE WASTE</h1>
    <p>Faites de vos surplus des dons et
      <br /> économisez de l'argent avec Save Waste</p>
  </div>
</header>
​
<!-- Signup section-->
​<section id="section2">
  <div class="restaurateurSignup">
    <img src="images/restaurateur.png" alt="chef" />
    <div class="restaurateurSignupleft">
      <h3>Restaurateur</h3>
      <ul>
        <li>Transformez vos surplus en dons</li>
        <li>Bénéficiez de déduction d'impôts </li>
        <li>Gerez vos achats à la source</li>
        <li>Pilotez votre demarche</li>
        <li>You can also Save the World!</li>
      </ul>
      <a href="/auth/signup" class="btn"> Signup </a>
    </div>
  </div>

  <div class="assosSignup">
    <img src="images/assos.png" alt="association" />
    <div class="assosSignuprigth">
      <h3>Association</h3>
      <ul>
        <li>Recuperez des dons à proximité</li>
        <li>Transformez le surplus en répas</li>
        <li>Aidez ceux qui en ont besoin</li>
        <li>Suivez votre challenge in live</li>
        <li>You can also Save the World!</li>
      </ul>
      <a href="/auth/signup" class="btn"> Signup </a>
    </div>
  </div>
</section>