<form action="/signup" method="post" enctype="multipart/form-data">
  <p>
    <label>
      Raison Sociale:
      <input type="text" name="raisonSociale">
    </label>
  </p>

  <p>
    <label>
      Contact:
      <input type="text" name="contact">
    </label>
  </p>

  <p>
    <label>
      Mail: 
      <input type="text" name="mail">
    </label>
  </p>

  <p>
    <label>
      Password: 
      <input type="password" name="password">
    </label>
  </p>

   <p>
    <label>
      Portable: 
      <input type="text" name="portable"> 
    </label>
  </p>

  <p>
    <label>
      Siret (uniquement restaurateurs): 
      <input type="number" name="siret"> 
    </label>
  </p>

  <p>
    <label>
      Adresse: 
      <input type="text" name="adresse"> 
    </label>
  </p>

  <p>
    <label>
      Rue: 
      <input type="text" name="rue"> 
    </label>
  </p>

   <p>
    <label>
      Code Postal: 
      <input type="text" name="codePostal"> 
    </label>
  </p>

  <p>
    <label>
      Ville: 
      <input type="text" name="ville"> 
    </label>
  </p>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <button type="submit">Signup</button>