/*//    _    _  ____  __  __ ______   _____        _____ ______ 
//   | |  | |/ __ \|  \/  |  ____| |  __ \ /\   / ____|  ____|
//   | |__| | |  | | \  / | |__    | |__) /  \ | |  __| |__   
//   |  __  | |  | | |\/| |  __|   |  ___/ /\ \| | |_ |  __|  
//   | |  | | |__| | |  | | |____  | |  / ____ \ |__| | |____ 
//   |_|  |_|\____/|_|  |_|______| |_| /_/    \_\_____|______|
//                                                            
// */
body {
    margin: 0;
    /* annule style par défault */
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-color: white;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: 10em;
    margin-left: 35px;
    margin-bottom: 10px;
}

/*.login {
    justify-self:flex-end; 
    width:70px; 
    height:30px; 
    margin-top:70px; 
    margin-left:40%;
    padding:10px 10px;     
    border: 1px solid #52958D;
    border-radius: 10px;
    background-color: #52958D;
}*/

.navbar a {
    width: 70px;
    height: 30px;
    padding: 10px 10px;
    border: 1px solid #52958D;
    border-radius: 10px;
    background-color: #52958D;
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: auto;
    text-align: center;
    margin-right: 5em;
}


.section1 {
    font-family: 'Open Sans', sans-serif;

    margin-top: 3em;
    display: flex;
    background-image: url("../images/landing.png");
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: #fff;

}

.section1,
.intro {
    text-align: center;
    justify-content: space-evenly;
}

.section1 h1 {
    margin-top: 40%;
    margin-bottom: 0;
    font-size: 400%;
    text-align: center;
}

.section1 p {
    font-size: 175%;
    text-align: center;
}


#section2 {
    align-items: center;
    display: flex;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 30px;
    justify-content: space-evenly;
}

.restaurateurSignup {
    display: flex;
    text-align: center;
}

.formNewDon {
    margin-top: 15em;
    margin-left: 30em;
}

.restaurateurSignup img {
    width: 50%;
    border-radius: 10px;
}

.assosSignup {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.assosSignup img {
    height: 18em;
    width: 14em;
    object-fit: cover;
    border-radius: 10px;
}

.restaurateurSignupleft a,
.assosSignuprigth a {
    display: block;
    color: white;
    height: 30px;
    padding: 10px 10px;
    border: 1px solid #52958D;
    border-radius: 10px;
    background-color: #52958D;

    flex: 1;
    margin-top: 6em;
}

.restaurateurSignup h3,
.assosSignup h3 {
    margin-top: auto;
    font-size: 150%;
    padding-bottom: .10em;
    color: #52958D;
    padding: 10px 10px;
}

.restaurateurSignup p,
.assosSignup p {
    padding: 10px 10px;
}



#footer ul {
    display: flex;
    color: #52958D;
    background-color: white;
    list-style: none;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    align-items: flex-end;
    margin-top: 12em;
}

#footer ul li {
    padding-left: 10px;
}

#footer p {
    color: #52958D;
    text-align: center;

}

/*//    _      ____   _____ _____ _   _     _______ _____ _____ _   _ _    _ _____  
//   | |    / __ \ / ____|_   _| \ | |   / / ____|_   _/ ____| \ | | |  | |  __ \ 
//   | |   | |  | | |  __  | | |  \| |  / / (___   | || |  __|  \| | |  | | |__) |
//   | |   | |  | | | |_ | | | | . ` | / / \___ \  | || | |_ | . ` | |  | |  ___/ 
//   | |___| |__| | |__| |_| |_| |\  |/ /  ____) |_| || |__| | |\  | |__| | |     
//   |______\____/ \_____|_____|_| \_/_/  |_____/|_____\_____|_| \_|\____/|_|     
//                                                                                
//*/

.bodyForm {
    margin-top: 15em;
    display: flex;
    justify-content: space-evenly;
}

.imgForm img {
    height: 30em;

}

.imgLogin img {
    display: block;
    width: 25em;
}

.formSignup {
    margin-top: 15em;
}

form {
    display: block;
}

form input {
    border: 1px solid #52958D;
}

button {
    font-weight: bold;

    color: white;
    padding: 10px 10px;
    border: 1px solid #52958D;
    border-radius: 10px;
    background-color: #52958D;
    font-size: unset;
}

label {
    display: block;
    justify-content: space-between;

}

/*//    _____           _____ _    _ ____   ____          _____  _____   _____ 
//   |  __ \   /\    / ____| |  | |  _ \ / __ \   /\   |  __ \|  __ \ / ____|
//   | |  | | /  \  | (___ | |__| | |_) | |  | | /  \  | |__) | |  | | (___  
//   | |  | |/ /\ \  \___ \|  __  |  _ <| |  | |/ /\ \ |  _  /| |  | |\___ \ 
//   | |__| / ____ \ ____) | |  | | |_) | |__| / ____ \| | \ \| |__| |____) |
//   |_____/_/    \_\_____/|_|  |_|____/ \____/_/    \_\_|  \_\_____/|_____/ 
//                                                                           
//*/
.helloUser {
    color: #52958D;
    margin-top: 200px;
    margin-bottom: 30px;
    padding: 0px;
    margin-left: 70px;
}

#kpiSection {
    font: 100% sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    margin-top: 3em;
}

.kpi {
    display: block;
    padding: 10px 10px;
    border: 1px solid #52958D;
    border-radius: 10px;
    background-color: #52958D;
}

#donsList {
    font-size: 20px;
    margin-top: 15em;
    margin: auto;
    justify-content: center;
    font-style: sans-serif;
    border-radius: 10px;
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #52958D;
}

#donsList>caption,
#historicDonsList>caption {
    text-align: left;
    font-size: 200%;
    border-bottom: .2em solid #52958D;
    margin-bottom: .5em;
}

#donsList th,
#historicDonsList th {
    color: grey;
    text-align: center;
    padding: .5em;
    border: 1px solid grey;

    background-color: white;
}

#donsList td,
#historicDonsList td {
    text-align: center;
    padding: .5em;
    border: 1px solid grey;
    background-color: rgb(238, 231, 231);
}

.btns-dashboard {
    display: flex;
    justify-content: space-evenly;
}

.btn-historic {
    font: 100% sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #52958D;
    border-radius: 10px;
    background-color: #52958D;

    height: 10%;
    width: 20%;
    margin-top: 5em;
}

.newDon {
    background-color: white;

    color: black;
    display: block;
    border: 1px solid rgb(238, 231, 231);
    border-radius: 10px;
    padding: 10px 10px;
    width: 20em;
    text-align: center;
    margin-top: 2em;
    margin-left: 7em;

}

.btn-fairenewDon,
.btn-sauverRepas {
    color: black;
    background-color: #FADB00;
    font: 100% sans-serif;
    font-weight: bold;

    text-align: center;
    padding: .5em;
    border-radius: 10px;
}

.btn-delete,
.btn-annuler,
.btn-recup {
    display: block;
    margin: auto;
}

/*
//    _    _ _____  _____ _______ ____  _____  _____ _____  __      _______ ________          _______ 
//   | |  | |_   _|/ ____|__   __/ __ \|  __ \|_   _/ ____| \ \    / /_   _|  ____\ \        / / ____|
//   | |__| | | | | (___    | | | |  | | |__) | | || |       \ \  / /  | | | |__   \ \  /\  / / (___  
//   |  __  | | |  \___ \   | | | |  | |  _  /  | || |        \ \/ /   | | |  __|   \ \/  \/ / \___ \ 
//   | |  | |_| |_ ____) |  | | | |__| | | \ \ _| || |____     \  /   _| |_| |____   \  /\  /  ____) |
//   |_|  |_|_____|_____/   |_|  \____/|_|  \_\_____\_____|     \/   |_____|______|   \/  \/  |_____/ 
//                                                                                                    
//*/

.findDons {
    display: block;
    margin-top: 10em;
}

#historicDonsList {
    font-size: 20px;
    margin: auto;
    margin-top: 10em;
    justify-content: center;
    font-style: sans-serif;
    border-radius: 10px;
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #52958D;
}

.donation-map {
    width: 100vh;
    height: 50vh;
    margin-left: 23em;
    margin-top: 2em;
}