{{!-- {{#if user}} --}}
<div>
  Dashboard RESTO
</div>
{{!-- {{/if}} --}}
{{!-- 
<ul>
{{#each don}}
  <li>
    <a href="don/{{_id}}">{{donNom}}</a>
  </li>
{{/each}}
</ul> --}}
<a href="/resto/new-donation">Donate</a>
<a href="/resto/edit-donation">Edit a donation</a>
<a href="/resto/historic">See donation historic</a>