<div class="navbar">
  <img src="/images/logo-sw.png" alt="SW logo" />
  <a href="/auth/logout">Logout</a>
</div>

<div class="edit">
<img src="/images/chef-femme.png" alt="chef"/>
<form action="/resto/new-donation" method="POST" class="formNewDon">
<h2>Publier un nouveau don</h2>
  <p>
    <label> Nom du produit :
      <input type="text" name="donNom" required>
    </label>
  </p>
  <p>
    <label> Type de produit :
      <select required type="text" name="donType" required>
        <option value="légumes">légumes</option>
        <option value="fruits">fruits</option>
      </select required>
    </label>
  </p>
  <p>
    <label> Poids du produit (kg) :
      <input type="text" name="donPoids" required>
    </label>
  </p>
  <p>
    <label> Date de péremption :
      <input type="date" name="datePeremption" required>
    </label>
  </p>

  <input type="hidden" name="lat" value="">
  <input type="hidden" name="lng" value="">

  <button>Faire un don</button>
</form>
</div>
<script src="/javascripts/geoloc.js"></script>