<div>
  This is history
</div>

{{#each don}}
<ul>
  <li>{{donNom}}</li>
  <li>{{donneur}}</li>
  <li>{{donStatus}}</li>

  <form action="/asso/reserve-don/{{_id}}" method="POST">
    <button>Réserver</button>
  </form>

</ul>
{{/each}}